<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} Healthy Food Compass</title>
    {% block meta %}
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="cleartype" content="on">
        <link rel="apple-touch-startup-image" href="/assets/images/splash.png">

    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Puritan:400,700' rel='stylesheet' type='text/css'>
     <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="assets/app/app.css"/>
    <script src="assets/js/lib/modernizr.js"></script>
</head>



<section class="main-container">
     <!-- <div id="debug">Log</div>
    <header>
        <nav class="">
            <ul>
                <li><a href="#aside-menu" data-router="aside" data-icon="menu"></a></li>
                <li class="title centered app-name">
                    <h1>Healthy Food Compass</h1>
                </li>
            </ul>
        </nav>
    </header> -->

    <div id="carousel">
        <ul>
            <li class="pane1"><h2>Swipe...</h2></li>
            <li class="pane2"><h2>...or drag...</h2></li>
            <li class="pane3"><h2>...or swipe...</h2></li>
            <li class="pane4"><h2>..or drag...</h2></li>
            <li class="pane5"><h2>Dit is het einde!</h2></li>
        </ul>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="#home" class="active" data-icon="home" data-router="section">1</a></li>
                <li><a href="#home" id="link-profile" data-icon="users" data-router="section">2</a></li>
                <li><a href="#home" data-icon="search" data-router="section">3</a></li>
                <li><a href="#home" data-router="section" class="logo-text">4</a></li>
            </ul>
        </nav>
    </footer>
</section>





<script src="assets/app/app.js?v=1"></script>
</body>
</html> 