*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/cache/*
build
nbproject/
.idea

/fuel/app/config/crypt.php

/node_modules/
/grunt/node_modules/
/npm-debug.log