{% extends "layouts/app.twig" %}


{% block calToday %}
    <ul class="events-today">

    </ul>
{% endblock %}

{% block calTomorrow %}
    <ul>

    </ul>
{% endblock %}

{% block calFull %}
    <ul>

    </ul>
{% endblock %}


{% block map %}
    <div id="map-container">
        <a href="#" id="map-close" class="icon close btn-map mhide"></a>

        <div class="map" id="map-overlay"></div>
        <div class="map cal-push" id="map">
            {#<a href="#" class="zoomer zoomin">+</a>#}
            {#<a href="#" class="zoomer zoomout">-</a>#}
        </div>
        <a href="#" id="geolocate" class="btn-map">Find me</a>
        {% block navCalendar %}
            <section id="calendar-nav" class="cal-push">
                <nav class="groupbar">
                    <a href="#" id="calendarToday" data-content="cal-today" class="aStores">Today</a>
                    <a href="#" id="calendarTomorrow" data-content="cal-tomorrow">Tomorrow</a>
                    <a href="#" id="calendarFull" data-content="cal-full" class="icon calendar"></a>
                </nav>
            </section>
        {% endblock %}
    </div>
{% endblock %}


{% block subpage %}
    <section id="subpage">
        <header data-back="left" class="main-header">
            <nav class="">
                <ul>
                    <li><a href="#aside-menu" data-router="aside" data-icon="menu"></a></li>
                    <li class="title centered app-name">
                        <h1>Healthy food</h1>
                    </li>
                </ul>
            </nav>
        </header>

        <article class="active scroll list">

            <img src="/assets/images/sample1.png" alt="" style="max-height: 300px; max-width: 600px">
            <div class="form1">
                 

                <ul class="venue-items">
                    <li class="head"><span class="icon pushpin"></span>
                        <h3 class="locationDetail store-title"></h3>
                        <b class="locationDetail store-location"></b>
                        <b>(<span class="locationDetail store-distance"></span>)</b>

                    </li>

                    <li><span class="icon clock"></span>
                        <a href="#">
                        <strong>Open now</strong>
                        <small>open today until 8pm</small>
                        </a>
                    </li>

                    <li><span class="icon accessibility"></span>
                        <a href="#">
                        <strong>Accessibility</strong>
                        <small>This venue is accessible for wheelchairs</small>
                        </a>
                    </li>

                    <li><span class="icon share"></span>
                        <a href="#">
                        <strong>EBT</strong>
                        <small>This venue supports the Electronic Benefits Transfer</small>
                        </a>
                    </li>
          
                    <li><span class="icon users"></span>
                        <a href="#">
                        <strong>Popular</strong>
                        <small>This venue is popular</small>
                        </a>
                    </li>

                    <li><span class="icon vcard"></span>
                        <a href="#">
                        <strong>Verified</strong>
                        <small>This venue is verified</small>
                        </a>
                    </li>
                </ul>


                <div style="display: none">
                    <form id="price-form" style="padding: 20px;">
                        
                        <div class="window confirm show">
                            <span class="icon user"></span>
                            <strong class="text bold">Contribute now</strong>

                            <span class="price-response"></span>

                            <label style="font-weight: bold; color: #333">What's the price for <a href="#" style="color: #666" onclick="alert('The average apple weighs 150 grams, 0.3 pounds/lbs or 5 ounces'); return false">one apple</a>?</label><br>
                            <select class="price single" name="price" style="margin-top: 7px">
                                <option value="0">$ -</option>
                                <option value="10">$0.10</option>
                                <option value="20">$0.20</option>
                                <option value="30">$0.30</option>
                                <option value="40">$0.40</option>
                                <option value="50">$0.50</option>
                                <option value="60">$0.60</option>
                                <option value="70">$0.70</option>
                                <option value="80">$0.80</option>
                                <option value="90">$0.90</option>
                                <option value="100">$1.00</option>
                                <option value="110">$1.10</option>
                                <option value="120">$1.20</option>
                                <option value="130">$1.30</option>
                                <option value="140">$1.40</option>
                                <option value="150">$1.50</option>
                            </select>

                            <br><br>

                            <label>OR: What's the price for 1 LBS of apples?</label><br> 
                            <select class="price per-pound" name="price_per_lbs" style="margin-top: 7px">
                                <option value="0">$ -</option>
                                <option value="25">$0.25</option>
                                <option value="50">$0.50</option>
                                <option value="75">$0.75</option>
                                <option value="100">$1.00</option>
                                <option value="125">$1.25</option>
                                <option value="150">$1.50</option>
                                <option value="175">$1.75</option>
                                <option value="200">$2.00</option>
                                <option value="225">$2.25</option>
                                <option value="250">$2.50</option>
                                <option value="275">$2.75</option>
                                <option value="300">$3.00</option>
                                <option value="325">$3.25</option>
                                <option value="350">$3.50</option>
                                <option value="375">$3.75</option>
                                <option value="400">$4.00</option>
                            </select>
                            <br><br>
                 
                            <button class="button anchor large text thin" onclick="submitPriceForm()" id="submit-price">Send Price</button><br>
                    
                        </div>
                    </form>
                </div>

            </div>

        </article>

        <footer class="main-footer">
            <nav>
                <a href="#home" class="active" data-icon="home" data-router="section"></a>
                <a href="#home" id="link-profile" data-icon="users" data-router="section"></a>
                <a href="#home" data-icon="search" data-router="section"></a>
                <a href="#home" data-router="section" class="logo-text"></a>
            </nav>
        </footer>
    </section>
{% endblock %}



{% block scripts %}
    
{% endblock %}